/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: rgb(255, 255, 255);
  font-family: "Karla", sans-serif;
  /* font-family: "DM Serif Display", serif; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}
.main-page h1 {
  text-align: center;
  margin: 40px;
  font-size: 38px;
  font-weight: bold;
  color: white;
}
.column-3 {
  display: flex;
  justify-content: space-around;
}
.column-3 div {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.column-3 .box-1 {
  background-image: linear-gradient(#ff0348, #ff0348);
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-3 .box-2 {
  background-image: linear-gradient(to right, black, #ff0348);
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-3 .box-3 {
  background-image: radial-gradient(#ff0348, black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-image {
  background: url(../media/background.jpeg);
  height: 1000px;
}
.div2-image {
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
  height: 500px;
  background: url(../media/5966764.jpg);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
